@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom, #421717, #ff0000);
}

:root{
    --gradient: 
        linear-gradient(
        to right,
        #ffff,
        #C9C9C9,
        #898989
    )
}
:root{
    --gradient2: 
        linear-gradient(
        to right,
        #898989,
        #C9C9C9,
        #ffff
    )
}
h1{
    width: 225px;
    font-size: 30px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 860px;
    color: black;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h1:hover{
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h2{
    position: absolute;
    top: 80px;
    right: 705px;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h2:hover{
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.free{
    position:absolute;
    top: 350px;
    right: 150px;
    font-size: 30px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: .5s;
}
.free:hover{
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.pong{
    position:absolute;
    top: 350px;
    left: 150px;
    font-size: 30px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: .5s;
}
.pong:hover{
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.relogio{
    position:absolute;
    top: 350px;
    left: 730px;
    font-size: 30px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: .5s;
}
.relogio:hover{
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
img{
    max-width: 500px;
    max-height: 200px;
}
a{
    text-decoration: none;
}
.autor{
    position: absolute;
    top: 50px;
    left: 5px;
    height: 150px;
    width: 150px;
}
.autor p{
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 5px;
    color: #ffff;
}
.autor .imagem{
    max-height: 75px;
    max-width: 75px;
    transition: .3s;
    border-radius: 15px;
}
.autor .imagem:hover{
    max-width: 95px;
    max-height: 95px;
    border-radius: 15px;
}