@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    font-family: 'Roboto Slab', serif;
    height: 925px;
    background: linear-gradient(to bottom, #421717, #ff0000);
}
:root{
    --gradient: 
        linear-gradient(
        to right,
        #ffff,
        #C9C9C9,
        #898989
    )
}
:root{
    --gradient2: 
        linear-gradient(
        to right,
        #898989,
        #C9C9C9,
        #ffff
    )
}
h1{
    width: 225px;
    font-size: 30px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 860px;
    color: black;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h1:hover{
    color: black;
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h2{
    position: absolute;
    top: 40px;
    right: 705px;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h2:hover{
    position: absolute;
    top: 40px;
    right: 705px;
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.free{
    position:absolute;
    top: 200px;
    right: 250px;
    font-size: 30px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.free:hover{
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.pong{
    position:absolute;
    top: 200px;
    left: 250px;
    font-size: 30px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.pong:hover{
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
img{
    max-width: 500px;
    max-height: 200px;
}