html, body {
  margin: 0;
  padding: 0;
  height: 900px;
  background: linear-gradient(to bottom, #FFC200, #ff8c00);
}
canvas {
  display: block;
}
header{
  align-items: center;
  justify-content: center;
}
h1{
  text-align: center;
  color:rgb(255, 140, 0);
  font-family: Arial;
}
h2{
  text-align: center;
  color: rgb(255, 140, 0);
  font-family: Arial;
}
main{
  position: absolute;
  top: 120px;
  left: 650px;
}